<div class="row">
  <div class="col-md-6">
    <!-- Login section heading -->
    <h2>Login</h2>

    <!-- Login form -->
    <form class="form login-form">
      <!-- Username input -->
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <!-- Password input -->
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <!-- Submit button -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    <br>

    <!-- Link to the signup page -->
    <a href="/signup" id="signup" class="mr-3">Sign up instead</a>
  </div>
</div>

<!-- JavaScript file for handling login functionality -->
<script src="./js/login.js"></script>