<div class="row">
  <div class="col-md-6">
    <!-- New post section heading -->
    <h2>Create new post</h2>

    <!-- New post creation form -->
    <form class="new-post-form">
      <!-- Post title input -->
      <div class="form-group">
        <label for="new-post-title">Title:</label>
        <input class="form-input" type="text" id="new-post-title" />
      </div>
      <!-- Post content textarea -->
      <div class="form-group">
        <label for="new-post-content">Content:</label>
        <textarea class="form-input" id="new-post-content"></textarea>
      </div>
      <!-- Submit button for creating a new post -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Post</button>
      </div>
    </form>
  </div>

  <!-- JavaScript file for handling post creation functionality -->
  <script src="./js/post.js"></script>
</div>