<div class="row">
    <div class="col-md-6">
        <!-- Signup section heading -->
        <h2>Signup</h2>

        <!-- Signup form -->
        <form class="form signup-form">
            <!-- Username input -->
            <div class="form-group">
                <label for="username-signup">Username:</label>
                <input class="form-input" type="text" id="username-signup" />
            </div>
            <!-- Password input -->
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <!-- Signup button -->
            <div class="form-group">
                <button id="signup" class="btn btn-primary" type="submit">Signup</button>
            </div>
        </form>
    </div>

    <!-- JavaScript file for handling signup functionality -->
    <script src="./js/signup.js"></script>
</div>